body {
    border-top: 5px solid #7e7e7e;
    background-image: url(/images/bg.png);    
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.wrapper {

    width: 960px;
    margin: auto;
}

.header {
    margin-top: -7px;
}

.main {
    flex: 1;
}


/* ==================== HEADER TOP ==================== */


.header__top {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.search {
    position: relative;
}

.search__input {
    width: 138px;
    height: 32px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 42px;
    font: 12px "Tahoma", sans-serif;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}

.search__input::placeholder {
    color: #b2b2b2;
}

.search__button {
    width: 42px;
    height: 32px;
    background-color: #29c5e6;
    position: absolute;
    top: 0;
    right: 0; ;
    font: 14px "Oswald", sans-serif;
    color: white;
}

/* ==================== HEADER NAV ==================== */

.header__nav {
    height: 40px;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    font: 14px "Oswald", sans-serif;
    margin-top: -5px;
}


.header__nav_active {
    background-color: #29c5e6;
}

.header__nav ul {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.header__nav a {
    text-decoration: none;
    color: #b2b2b2;
}

.header__nav li {
    width: 12.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav_active a {
    color: white;
}

/* ==================== HEADING ==================== */

.heading {
    margin-top: 30px;
    height: 35px;
    background-image: url(/images/h1-bg.png);
    display: flex;
    align-items: center;
}

.heading__text {
    margin-left: 20px;
    margin-top: -4px;
    font: 40px "Oswald", sans-serif;
    color: #7e7e7e;
    letter-spacing: 1.6px;
    padding: 0 10px;
    background-image: url(/images/bg.png);
}


/* ==================== MAIN ==================== */

.main-content {
    margin-left: 30px;
    width: 680px;
}

.main-flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main-aside {
    max-width: 250px;
    min-width: 180px;
    height: 235px;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}

.main-aside-ul {
    height: 235px;
}

.main-aside-ul li {
    color: #8f8f8f;
    border-bottom: 1px solid #e7e7e7;
    height: 39px;
    list-style: square;
    list-style-position: inside;
    margin-left: 12px;
}

.main .main-aside-ul__li_active {
    color: #29c5e6;
}

.main-aside-ul a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font: 300 14px/38px "Oswald", sans-serif;
    vertical-align: middle;
}


/* ==================== MAIN CONTENT ==================== */

.aside-figure-heading {
    margin-top: 30px;
    max-width: 250px;
    height: 38px;
    background-color: #29c5e6;
    display: flex;
    align-items: center;
}

.aside-figure__heading {
    font: 14px "Oswald", sans-serif;
    color: white;
    margin-left: 10px;
}

.aside-figure img {
    border: 11px solid #f3f3f3;
    box-sizing: content-box;   
}


/* ==================== ARTICLE  ==================== */

.article p{
    font: 12px "Tahoma", sans-serif;
    color: #8f8f8f;
    margin-bottom: 18px;
    line-height: 18px;
}

.article-heading {
    height: 170px;
    min-width: 100%;
    background-color: #29c5e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 19px;
}

.article-heading blockquote {
    color: white;
    font: italic 300 33px/34px "Oswald", sans-serif;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    margin-top: 19px;
}

.article-heading cite {
    font: 300 20px "Oswald", sans-serif;
    color: #1d8ea6;
    align-self: flex-end;
    margin-right: 36px;
}

.article-footer {
    display: flex;
    justify-content: space-between;
}

.article-footer img {
    border: 1px solid ;
    color: #c9c9c9;
}

.main-section__heading {
    width: 100%;
    height: 44px;
    background-color: #29c5e6;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-section h2{
    font: 300 30px "Oswald", sans-serif;
    color: white;
    margin-left: 9px;
}


.main-section {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
}

/* ==================== MAIN TEAM  ==================== */

.main-team {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.main-team img {
    border: 1px solid #c9c9c9;
}

.main-team__figure {
    font: 300 16px "Oswald", sans-serif;
    color: #8f8f8f;
    display: flex;
    flex-direction: column;
}

.main-team__figure span{
    font-size: 14px;
    color: #29c5e6;
    display: block;
}


/* ==================== FOOTER ==================== */

.footer {
    height: 112px;
    background-color: #7e7e7e;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.footer-contain {
    display: flex;
    justify-content: space-between;
    width: 960px;
}

.foot-info {
    width: 640px;
    display: flex;
}

.foot-info h3 {
    font: 14px 'Oswald', sans-serif;
    color: white;
    border-bottom: 1px solid #919191;
}

.twitter {
    width: 301px;
    margin-right: 19px;
}

.twitter p{
    font: 11px "Tahoma", sans-serif;
    color: #dbdbdb;
}

.twitter time{
    font: 11px "Tahoma", sans-serif;
    color: #b4aeae;
    border-bottom: 1px solid #b4aeae;
    margin: 9px 0 7px 0;
    display: block;
    width: 31px;
}

.sitemap {
    width: 151px;
    margin-right: 18px;
}

.sitemap table {
    font: 12px "Tahoma", sans-serif;
    color: #dbdbdb;
    display: flex;
    margin-top: 10px;
}

.sitemap table tr {
    display: flex;
    justify-content: space-between;
    width: 128px;
}

.sitemap table tr + tr {
    margin-top: 4px;
}


.social {
    width: 131px;
}

.social img {
    margin-top: 11px;
}


.foot-logo {
    font: 10px "Tahoma", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
